<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
    <title>{{nombrePagina}}</title>
</head>
<body>
    <div class="nombre-sitio contendor">
        <h1>
            <a href="/">SlizerJobs</a>
        </h1>
        {{#if barra }}
            <div class="buscador">
                <form action="#">
                    <input type="text">
                    <input type="submit" value="Buscar">
                </form>
            </div>
        {{/if}}
    </div>
    <header class="site-header contendor separador">
        <h2>{{nombrePagina}}</h2>
        {{#if tagline}}
            <p class="tagline">{{tagline}}</p>
        {{/if}}
        {{#if boton}}
            <a href="/vacantes/nueva" class="btn btn-vino">Nueva Vacante</a>
        {{/if}}
    </header>
    <div class="contenido-principal contenedor">
        {{{body}}}
    </div>
    <script src="/dist/bundle.js"></script>
</body>
</html>