<main class="contenedor">
    <form action="/editar-perfil" method="POST" class="default-form" enctype="multipart/form-data">
    <div class="campo">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" value={{usuario.nombre}} id="nombre" placeholder="Tu Nombre">
    </div>
    <div class="campo">
        <label for="email">E-mail</label>
        <input type="email" name="email" value={{usuario.email}} id="email" placeholder="Tu E-mail">
    </div>
    <div class="campo">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Tu Password">
    </div>
    <div class="campo">
        <label for="">Imagen</label>
        <input type="file" name="imagen">
    </div>
    <div class="campo">
        <input type="submit" class="btn btn-verde" value="Guardar Cambios">
    </div>
    </form>
</main>