<main class="contenedor">
    <h1 style="text-align: center; margin-bottom: 20px; margin-top:-100px;">{{status}} - {{mensaje}}</h1>
    <img src="img/not-found.svg" alt="" width="600px" style="margin: 0 300px;">
    <div class="campo">
        <a href="/iniciar-sesion" class="btn btn-vino" style="text-align: center;">Iniciar Sesión</a>
    </div>
</main>