<main class="lista-vacantes">
    <h2>Lista de vacantes</h2>

    <div class="vacante">
        <div class="caja">
            <h3>Facebook</h3>
            <p class="puesto">Desarrollador Full Stack</p>
        </div>
        <div class="caja">
            <p class="etiqueta">Ubicacion</p>
            <p class="nombre">Remoto</p>
        </div>
        <div class="caja">
            <p class="etiqueta">Contrato</p>
            <p class="nombre contrato">Tiempo Completo</p>
        </div>
        <div class="caja centrar-vertical">
            <a href="#" class="btn btn-verde">Mas info</a>
        </div>
    </div>
</main>