<main class="contenedor">
    <form method="POST" class="default-form">
        <div class="campo">
            <label>Nuevo Password:</label>
            <input type="password" name="password" placeholder="Tu Nuevo Password" >
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer Password" class="btn btn-vino">
        </div>
    </form>
</main>