<h1 style="text-align: center; font-family:Arial;">Reestablecer Password</h1>

<p>Hola, has solicitado reestablecer tu password, haz click en el siguiente enlace, este enlace es temporal, sis e vence es necesario que vuelvas a solicitar otro E-mail</p>

<a href="{{resetUrl}}" style="
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color: #00c897;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
">Resetear Password</a>


<p>Si no puedes acceder a este enlace, visita {{resetUtl}}</p>
<p>Si no solicitaste este cambio, por favor ignora este mensaje</p>
